.bg-dark {
    background-color: #cb8364!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}
.nav-item{
    font-size: 14px;
    font-weight: bolder;
    opacity: 1;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50px;
    padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
  cursor: pointer;
}
.nav-item:hover{
    font-size: 14px;
    font-weight: bolder;
    opacity: 1;
    border: none;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #cb8364;
}

@media screen and (max-width: 765px) {
    .slider {
        position: relative;
    }
}