.signin-css{
    position: relative;
    top: 100px;
    background-color: white;
    opacity: 1;
    padding: 100px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 10px;
  
}
.signin-css h2{
    text-align: center;
    font-weight: bold;
    color: #cb8364;
    font-size: 30px;
}
.form-control-sm{
    margin-top: 10px;
}